/* Pokedex */

/* 세대 버튼 부분 */
.genBtn{
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
  margin: 50px 0px;
  flex-wrap: wrap;
  .oneBtn{
    cursor: pointer;
    p{
      color: #aaa;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 30px;
      padding: 8px;
      margin: 10px 20px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
      word-break: keep-all;
      width: 60px;
    }
    p:hover{
      color: #000;
      border: 1px solid #888;
      transform: translate(3px, 3px);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    }
  }
}


/* 도감 데이터 부분 */
.pokedexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0px;
  border-top: 1px solid #ccc;
}

  .pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 0px;
    color: #000;
  }
  .pokemon:hover {
    background-color: #fafafa;
    border: 1px solid #aaa;
    cursor: pointer;
    img{
      animation: hop_image 0.5s linear infinite;
    }
  }
  @keyframes hop_image{
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }



  /* 로딩 */
  @keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
  }
  .loading {
    margin: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      margin: 20px;
      animation: rotate_image 1s ease-in-out infinite;
      transform-origin: 50% 50%;
    }
    p {
      font-size: 1.5rem;
    }
  }